---
import PostSearch from "@components/PostSearch.svelte";
import BaseLayout from "@layouts/BaseLayout.astro";
import { POSTS_PER_PAGE } from "@lib/postConstants";
import {
  getPostTags,
  getSortedPosts,
  serializePostForSearch,
} from "@lib/postUtils";
import type { PostEntry } from "@lib/types";
import { Icon } from "astro-icon/components";
import { getCollection } from "astro:content";

export async function getStaticPaths() {
  const allPosts = await getCollection("posts");
  const filteredPosts = allPosts.filter(
    (post: PostEntry) => !post.data.draft && !post.data.archived,
  );
  const sortedPosts = getSortedPosts(filteredPosts);

  const totalPages = Math.ceil(sortedPosts.length / POSTS_PER_PAGE);
  const allPostsData = sortedPosts.map(serializePostForSearch);
  const allTags = getPostTags(sortedPosts);

  return Array.from({ length: totalPages - 1 }).map((_, i) => {
    const pageNum = i + 2;
    return {
      params: { page: pageNum.toString() },
      props: {
        currentPage: pageNum,
        allPosts: allPostsData,
        allTags,
      },
    };
  });
}

const { currentPage, allPosts, allTags } = Astro.props;
---

<BaseLayout title="Blog Posts" description="Collection of blog posts">
  <PostSearch
    allPosts={allPosts}
    currentPage={currentPage}
    baseUrl="/posts"
    allTags={allTags}
    client:load
  >
    <a href="/archive" class="archive-link" slot="archive-link">
      <Icon name="box-archive" /> View Archive
    </a>
  </PostSearch>
</BaseLayout>
