---
import PostSearch from "@components/PostSearch.svelte";
import BaseLayout from "@layouts/BaseLayout.astro";
import {
  getPostTags,
  getSortedPosts,
  serializePostForSearch,
} from "@lib/postUtils";
import type { PostEntry } from "@lib/types";
import { Icon } from "astro-icon/components";
import { getCollection } from "astro:content";

const allPosts = await getCollection("posts");

const filteredPosts = allPosts.filter(
  (post: PostEntry) => !post.data.draft && !post.data.archived,
);
const sortedPosts = getSortedPosts(filteredPosts);

const currentPage = 1;

const allPostsData = sortedPosts.map(serializePostForSearch);
const allTags = getPostTags(sortedPosts);
---

<BaseLayout title="Blog Posts" description="Collection of blog posts">
  <PostSearch
    allPosts={allPostsData}
    currentPage={currentPage}
    baseUrl="/posts"
    allTags={allTags}
    client:load
  >
    <a href="/archive" class="archive-link" slot="archive-link">
      <Icon name="box-archive" /> View Archive
    </a>
  </PostSearch>
</BaseLayout>
