# Nix
# Those only get created in the repository root, so no need to
# use wildcard prefixes. Rest can be, well, virtually anywhere.
result*
/.direnv

# WASM
**/wasm-utils/target
**/wasm-utils/pkg

# Manual builds
**/dist
**/.astro
**/node_modules
**/npm-debug.log*

# Lighthouse Reports
**/*.report.html

# Generated coverage reports
**/coverage*

# Stryker
**/.stryker-tmp*
**/reports*
