body {
  color: #f8fafc;
  background-color: #0c0a09;
  line-height: 1.6;
  font-family: system-ui, clean, sans-serif;
}

h1,
h2,
h3 {
  margin-bottom: 1.5em;
}

h1,
h2,
h3 {
  margin-top: 1.5em;
}

a {
  color: #e0e7ff;
  text-decoration: none;
  position: relative;
}

a:hover {
  color: #c7d2fe;
  text-decoration: underline;
}

a:active {
  color: #bfdbfe;
}

a:visited {
  color: #c7d2fe;
}

section {
  margin: 15px 0;
  padding: 5px 0;
}

footer {
  text-align: center;
}

code,
.text-mono {
  font-family: monospace;
  color: #f8fafc;
  background-color: #020617;
  padding: 2px;
}

.centered-divider {
  border: none;
  height: 2px;
  background-color: #f1f5f9;
  width: 35%;
  margin: 20px auto;
}

.primary {
  text-align: left;
  max-width: 65ch;
  padding: 7.5px 15px;
  margin: 0 auto;
}

.socials {
  padding: 5px;
}

.interesting {
  display: flex;
  margin: auto;
}

.button-list {
  list-style-type: none;
  padding: 0;
  margin: 4px 2px;
}

.btn {
  display: inline-block;
  width: 100%;
  color: #f8fafc;
  background-color: #292524;
  padding: 8px 2px;
  margin: 5px 7px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  min-height: 10px;
  transition: background-color 0.3s ease;
}

.btn:hover {
  background-color: #44403c;
}

.webring-div {
  align-content: center;
}

.webring-button,
.webring-button:hover,
.webring-button:visited {
  color: #7eb4e0;
}

.webring-button:hover {
  text-decoration: underline;
}

.webring-button,
.webring-button:visited {
  text-decoration: none;
}
