[package]
name        = "wasm-utils"
description = "WASM components for my personal website"
version     = "0.2.4"
edition     = "2024"
license     = "MPL-2.0"
authors     = [ "NotAShelf <raf@notashelf.dev>" ]
repository  = "https://github.com/notashelf/notashelf.dev"

[lib]
crate-type = [ "cdylib" ]

[dependencies]
wasm-bindgen = { default-features = false, features = [ "serde-serialize" ], version = "0.2.106" }
js-sys       = { default-features = false, version = "0.3.83" }

lru                = { default-features = false, version = "0.16.3" }
serde              = { features = [ "derive" ], version = "1.0.228" }
serde_json         = { default-features = false, version = "1.0.145" }
serde-wasm-bindgen = { default-features = false, version = "0.6.5" }
web-sys            = { default-features = false, features = [  ], version = "0.3.81" }
lol_alloc          = "0.4.1"

[profile.dev]
opt-level = 1

[profile.release]
strip         = true
opt-level     = "z"
lto           = true
codegen-units = 1
panic         = "abort"

[package.metadata.wasm-pack.profile.release]
wasm-opt = false
