---
const secondaryNavItems = [
  { title: "Projects", url: "/projects" },
  { title: "Posts", url: "/posts" },
  { title: "About", url: "/about" },
];
---

<div class="nav-outer">
  <div class="nav-wrapper">
    <div class="nav-left">
      <a class="nav-button" href="/">Index</a>
    </div>
    <div class="nav-right">
      {
        secondaryNavItems.map((item, index) => (
          <a class="nav-button" href={item.url} data-key={`nav-${index}`}>
            {item.title}
          </a>
        ))
      }
    </div>
  </div>
</div>
<hr class="nav-border" />

<style lang="scss">
  @use "../styles/global" as *;
  @use "sass:color";

  .nav-outer {
    position: sticky;
    top: 0;
    z-index: 100;
    background: $primary;
    width: 100%;
    display: flex;
    justify-content: center;
    box-sizing: border-box;
  }

  .nav-wrapper {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 80ch;
    margin: 0 auto;
    padding: 1rem 0;
    box-sizing: border-box;
  }

  .nav-left,
  .nav-right {
    display: flex;
    align-items: center;
  }

  .nav-right {
    justify-content: flex-end;
  }

  .nav-button {
    font-family: Lato, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    font-weight: 800;
    color: $secondary;
    background: transparent;
    text-decoration: none;
    border: none;
    margin: 0 5px;
    cursor: pointer;
    white-space: nowrap;

    &:hover {
      color: color.scale($secondary, $lightness: 5%);
    }
  }

  .nav-left .nav-button:first-child {
    margin-left: 0;
  }

  .nav-right .nav-button:last-child {
    margin-right: 0;
  }

  .nav-border {
    background-color: $border-light;
    width: 100%;
    border: none;
    height: 1px;
    margin: 0;
    padding: 0;
  }
</style>
