name: "Treewide Checks"
permissions: read-all

on:
  pull_request:
  workflow_dispatch:
  push:
    branches: [ "main" ]

jobs:
  nix-flake-check:
    name: "Validate flake outputs"
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Install Nix
        uses: DeterminateSystems/nix-installer-action@main

      - name: Check Flake
        run: nix flake check

  format-with-alejandra:
    name: "Check formatting"
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Install Nix
        uses: DeterminateSystems/nix-installer-action@main

      - name: Check formatting via Alejandra
        run: nix run nixpkgs#alejandra -- --check .

  check-typos:
    name: "Check source tree for typos"
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Check for typos
        uses: crate-ci/typos@master
        with:
          config: .github/typos.toml

      - if: ${{ failure() }}
        shell: bash
        run: |
          echo "::error:: Current codebase contains typos that were caught by the CI!"
          echo "If those typos were intentional, please add them to the ignored regexes in .github/typos.toml"
          echo "[skip ci] label may be added to the PR title if this is a one-time issue and is safe to ignore"
          exit 1

  check-editorconfig:
    name: "Validate Editorconfig conformance"
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          fetch-depth: 2 # slows down checkout, but we need to compare against the previous commit on push events

      - name: Get list of changed files from PR
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        shell: bash
        run: |
          if [[ "${{ github.event_name }}" == "pull_request" ]]; then
            gh api repos/${{ github.repository }}/pulls/${{ github.event.number }}/files --paginate \
              | jq -r '.[] | select(.status != "removed") | .filename' \
              > "$HOME/changed_files"
          else
            git diff --name-only HEAD^ > "$HOME/changed_files"
          fi

      - name: Print list of changed files
        run: |
          cat "$HOME/changed_files"

      - name: Install Nix
        uses: DeterminateSystems/nix-installer-action@main

      - name: Checking Editorconfig conformance
        shell: bash
        run: |
          < "$HOME/changed_files" nix-shell -p editorconfig-checker --run 'xargs -r editorconfig-checker -disable-indent-size'

      - if: ${{ failure() }}
        shell: bash
        run: |
          echo "::error:: Current formatting does not fit convention provided by .editorconfig located in the project root."
          echo "Please make sure your editor properly integrates editorconfig, Neovim does so by default."
          echo "See https://editorconfig.org/#download on how to integrate Editorconfig to your editor."
          exit 1
