name: Test Suite

on:
  push:
    branches: [main, develop]
  pull_request:
    branches: [main]

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: "Checkout"
        uses: actions/checkout@v5

      - uses: cachix/install-nix-action@v31.9.0
        with:
          nix_path: nixpkgs=channel:nixos-unstable
          extra_nix_config: |
            substituters = https://cache.nixos.org/ https://feel-co.cachix.org
            trusted-public-keys = cache.nixos.org-1:6NCHdD59X431o0gWypbMrAURkbJ16ZPMQFGspcDShjY= feel-co.cachix.org-1:nwEFNnwZvtl4KKSH5LDg+/+K7bV0vcs6faMHAJ6xx0w=

      - name: Run CI Script
        run: nix run .#ci

      - name: Upload coverage reports
        uses: codecov/codecov-action@v5
        if: always()
        with:
          directory: ./apps/notashelf.dev/coverage
          flags: unittests
          name: codecov-umbrella
          fail_ci_if_error: false
